<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>swiper slider</title>
    <link rel="stylesheet" href="static/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
</head>
<body>

   <h1>The Sentiment Analysis</h1>

    <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <div class="imgBx">
              <img src="images/img1.jpeg" alt="">
          </div>
          <div class="details">
              <h3>Result 1 <br> <span>Web Designer</span></h3>
          </div>
      </div>

      <div class="swiper-slide">
          <div class="imgBx">
              <img src="images/img2.jpeg" alt="">
          </div>
          <div class="details">
              <h3>Result 2 <br> <span>Web Designer</span></h3>
          </div>
      </div>

      <div class="swiper-slide">
          <div class="imgBx">
              <img src="images/img3.jpeg" alt="">
          </div>
          <div class="details">
              <h3>Result 3 <br> <span>Web Designer</span></h3>
          </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

    <script type="text/javascript" src="swiper.min.js"></script>

    <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 30,
        stretch: 0,
        depth: 500,
        modifier: 5,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>

</body>
</html>
