<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/test.css">
    <title>fuzz</title>
</head>
<body>
    <ul class="header">
       <li id="left">
           <a href="#">fuzzNetwOrk</a>
       </li>
       <li id="left">
           <a href="#">Product</a>
       </li>
       <li id="left">
           <a href="#">About</a>
       </li>
       <li id="right">
           <a href="#">You</a>
       </li>
       <li id="right">
           <a href="#">LogIn</a>
       </li>
       <li id="right">
           <a href="#">SignIn</a>
       </li>
    </ul>

    <div class="search-area">
       <div>
           <h1>Get the ideal review of your product <br>that you want to purchase</h1>
       </div>
       <form action="/product" method="post">
          <div class="search-bar">
            <input type="text" class="bar" name="Product">
            <input type="submit" class="btn-submit">
        </div>
       </form>
    </div>


    <footer>
        <p>fuzzNetwOrk &copy; 2019</p>
    </footer>
</body>
</html>
